<%- include('../layouts/layout-start', { title: 'Ошибка 404' }) %>

<h2>Страница не найдена (404)</h2>
<p>К сожалению, запрашиваемая страница не существует.</p>
<a href="/" class="button">← На главную</a>

<%- include('../layouts/layout-end') %>