<%- include('layouts/layout-start', { title: 'Главная' }) %>

<h1>Добро пожаловать в библиотеку!</h1>
<p>Здесь вы можете управлять коллекцией книг: просматривать, добавлять, редактировать и удалять.</p>

<%- include('layouts/layout-end') %>